@page "/entries/{entryId:int}"
@using Model
@using Services
@using Utils
@using CryptoStatsSource
@using CryptoStatsSource.model
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IMatDialogService MatDialogService
@inject IMatToaster Toaster
@inject IPortfolioService PortfolioService
@inject IPortfolioEntryService PortfolioEntryService
@inject IMarketOrderService MarketOrderService
@inject ICryptocurrencyResolver CryptocurrencyResolver
@inject ICryptoStatsSource CryptoStatsSource
@inject ISummaryService SummaryService

<style>
    .demo-mat-card {
        margin-bottom: 2em;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .clear-margin {
        margin: 0px;
    }
    
    .clear-margin-vertical {
        margin-top: 0px;
        margin-bottom: 0px;
    }    
    
    .app-fab--absolute {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
    
    .mat-paper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    } 
    
</style>
<div class="mat-layout-grid mat-layout-grid-align-center">
    <div class="mat-layout-grid-inner center">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
            <MatButton Outlined="true" Icon="keyboard_arrow_left" Style="margin-bottom: 1rem;" OnClick='() => { NavigationManager.NavigateTo($"/portfolios/{ActivePortfolio.Id}"); }'>Back</MatButton>
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    @if(ActivePortfolioEntry != null)
                    {
                        <div class="demo-mat-card-content">
                            <MatHeadline6 class="clear-margin">
                                <MatChipSet Style="align-items: center">
                                    @if (PortfolioCryptocurrencyEntry != null)
                                    {
                                        <MatH5 Class="clear-margin-vertical">@PortfolioCryptocurrencyEntry.Name</MatH5>
                                    }
                                    else
                                    {
                                        <MatProgressCircle Indeterminate="true"/>
                                    }
                                    <MatChip Style="vertical-align: center" Label="@(CurrencyUtils.GetCurrencyLabel(ActivePortfolio.Currency))"/>
                                    @if (CurrentEntryAssetMarketEntry != null)
                                    {
                                        <MatH6 Class="clear-margin-vertical" Style="text-align: end;float: end;">1 @ActivePortfolioEntry.Symbol.ToUpper() = @CurrencyUtils.Format(CurrentEntryAssetMarketEntry.CurrentPrice, ActivePortfolio.Currency)</MatH6>
                                    }
                                    else
                                    {
                                        <MatProgressCircle Indeterminate="true"></MatProgressCircle>
                                    }
                                </MatChipSet>
                            </MatHeadline6>
                        </div>

                        <MatBody2 class="demo-mat-card-content clear-margin">
                            @if (EntrySummary != null)
                            {
                                <div class="mat-layout-grid">
                                    <div class="mat-layout-grid-inner" style="align-items: center">
                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                                            <LabelDecimalValue Value="@(CurrencyUtils.Format(EntrySummary.MarketValue, ActivePortfolio.Currency))" Label="Market Value"></LabelDecimalValue>
                                        </div>
                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                                            <LabelDecimalValue Value="@(DecimalUtils.FormatTrimZeros(TotalHoldings))" Label="Holdings"></LabelDecimalValue>
                                        </div>
                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" style="text-align: end">
                                            <LabelDecimalValue Positive="@(EntrySummary.AbsoluteChange >= 0)" ValueColorBasedOnValue="true" Value="@(CurrencyUtils.FormatWithPlusSign(EntrySummary.AbsoluteChange, ActivePortfolio.Currency))" Label="Profit/Loss"></LabelDecimalValue>
                                        </div>
                                    </div>
                                </div>
                                <div class="mat-layout-grid">
                                    <div class="mat-layout-grid-inner" style="align-items: center">
                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                                            <LabelDecimalValue Value="@(CurrencyUtils.Format(EntrySummary.Cost, ActivePortfolio.Currency))" Label="Net Cost"></LabelDecimalValue>
                                        </div>
                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                                            <LabelDecimalValue Value="@(CurrencyUtils.Format(TotalHoldings > 0 ? (EntrySummary.Cost / TotalHoldings) : 0, ActivePortfolio.Currency))" Label="Avg Net Cost"></LabelDecimalValue>
                                        </div>
                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" style="text-align: end">
                                            <LabelDecimalValue Positive="@(EntrySummary.RelativeChange >= 0)" ValueColorBasedOnValue="true" Value="@(DecimalUtils.FormatTwoDecimalPlacesWithPlusSign(EntrySummary.RelativeChange * 100) + "%")" Label="Percent Change"></LabelDecimalValue>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <MatProgressCircle Indeterminate="true"/>
                            }

                        </MatBody2>
                    }
                    else
                    {
                        <MatProgressBar Indeterminate="true"/>
                    }
                </MatCardContent>
            </MatCard>
            @if (TableRowsItems == null)
            {
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            }
            else if (TableRowsItems.Count == 0)
            {
                <MatPaper Elevation="2"><span>No market orders were found.</span><div><MatButton Style="margin-top:1em;" Label="Create a new market order" OnClick='() => { NavigationManager.NavigateTo($"newmarketorder/{ActivePortfolioEntry.Id}");}'></MatButton></div></MatPaper>
            }
            else
            {
                <MatTable Items="@TableRowsItems" Striped="true" AllowSelection="true" RowClass="tester" class="mat-elevation-z5" ShowPaging="false" PageSize="9999" SelectionChanged="SelectionChangedEvent">
                    <MatTableHeader>
                        <th>Date</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Market Value</th>
                        <th>Change</th>
                        <th>Actions</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>
                            <div style="min-width: 9rem">@(String.Format("{0:d.M.yyyy HH:mm:ss}", context.Item1.Date))</div>
                        </td>
                        <td>
                            @if (@context.Item1.Buy)
                            {
                                <div style="min-width: 8rem">@context.Item1.Size @ActivePortfolioEntry.Symbol.ToUpper()</div>
                            }
                            else
                            {
                                <div style="min-width: 8rem; color: #FF0000;">-@context.Item1.Size @ActivePortfolioEntry.Symbol.ToUpper()</div>
                            }
                        </td>
                        <td>
                            <div style="min-width: 8rem">@(CurrencyUtils.Format(context.Item1.FilledPrice, ActivePortfolio.Currency))</div>
                        </td>
                        <td>
                            <div style="min-width: 9.2rem">@CurrencyUtils.Format(context.Item2.MarketValue, ActivePortfolio.Currency)</div>
                        </td>
                        <td style='color: @(context.Item2.RelativeChange >= 0 ? "#17a104" : "#FF0000")'>
                            <div style="min-width: 9rem">@CurrencyUtils.Format(context.Item2.AbsoluteChange, ActivePortfolio.Currency) (@(DecimalUtils.FormatTwoDecimalPlaces(context.Item2.RelativeChange * 100))%)</div>
                        </td>
                        <td>
                            <MatIconButton Icon="edit" OnClick="() => EditMarketOrder(context.Item1)"></MatIconButton>
                            <MatIconButton Icon="delete" OnClick="() => DeletePortfolio(context.Item1)"></MatIconButton>
                        </td>
                    </MatTableRow>
                </MatTable>
            }
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
    </div>
</div>
<MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" Label="Add a new order" OnClick='() => { NavigationManager.NavigateTo($"newmarketorder/{ActivePortfolioEntry.Id}");}'></MatFAB>

<MatDialog @bind-IsOpen="@OrderDetailDialogIsOpen">
    <MatDialogTitle>Market Order Detail</MatDialogTitle>
    <MatDialogContent>
        @if (OrderToBeShown != null)
        {
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner" style="align-items: center">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <LabelDecimalValue Smaller="true" Value="@($"{ActivePortfolioEntry.Symbol.ToUpper()}/{CurrencyUtils.GetCurrencyLabel(ActivePortfolio.Currency)}")" Label="Trading Pair"></LabelDecimalValue>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="text-align: right">
                        <LabelDecimalValue Smaller="true" Value="@(CurrencyUtils.Format(OrderToBeShown.Item1.FilledPrice, ActivePortfolio.Currency))" Label="Price"></LabelDecimalValue>
                    </div>
                </div>
                <div class="mat-layout-grid-inner" style="align-items: center; margin-top: 2rem;">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <LabelDecimalValue Smaller="true" Value="@(CurrencyUtils.Format(OrderToBeShown.Item1.Fee, ActivePortfolio.Currency))" Label="Fee"></LabelDecimalValue>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="text-align: right">
                        <LabelDecimalValue Smaller="true" Value="@(CurrencyUtils.Format(OrderToBeShown.Item2.Cost, ActivePortfolio.Currency))" Label="Cost (fees included)"></LabelDecimalValue>
                    </div>
                </div>
                <div class="mat-layout-grid-inner" style="align-items: center;margin-top: 2rem; ">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <LabelDecimalValue Smaller="true" ValueColorBasedOnValue="true" Positive="@(OrderToBeShown.Item2.RelativeChange >= 0)" Value="@(DecimalUtils.FormatTwoDecimalPlaces(OrderToBeShown.Item2.RelativeChange * 100) + "%")" Label="Change"></LabelDecimalValue>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="text-align: right">
                        <LabelDecimalValue Smaller="true" Value="@(CurrencyUtils.Format(OrderToBeShown.Item1.Size * CurrentEntryAssetMarketEntry.CurrentPrice, ActivePortfolio.Currency))" Label="Current Value"></LabelDecimalValue>
                    </div>
                </div>
            </div>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@HideOrderDetail">Close</MatButton>
    </MatDialogActions>
</MatDialog>

@code
{
   //SummaryService.GetMarketOrderSummary(OrderToBeShown, CurrentEntryAssetMarketEntry.CurrentPrice).RelativeChange, ActivePortfolio.Currency) 
    [Parameter]
    public int EntryId { get; set; }
    
    protected Portfolio ActivePortfolio;
    protected PortfolioEntry ActivePortfolioEntry; 
    protected MarketEntry CurrentEntryAssetMarketEntry; 
    protected Cryptocurrency PortfolioCryptocurrencyEntry;
    protected ISummaryService.Summary EntrySummary;
    protected decimal TotalHoldings = 0;
    
    protected bool OrderDetailDialogIsOpen;
    protected Tuple<MarketOrder, ISummaryService.Summary> OrderToBeShown;

    protected List<Tuple<MarketOrder, ISummaryService.Summary>> TableRowsItems;

    protected override void OnInitialized()
    {
        // get the portfolio entry
        ActivePortfolioEntry = PortfolioEntryService.GetPortfolioEntry(EntryId);
        
        // get the entry's portfolio
        ActivePortfolio = PortfolioService.GetPortfolio(ActivePortfolioEntry.PortfolioId);
    }

    protected override async Task OnInitializedAsync()
    {
        // resolve the name of the cryptocurrency (using the symbol)
         PortfolioCryptocurrencyEntry = await CryptocurrencyResolver.Resolve(ActivePortfolioEntry.Symbol);

        await UpdateEntrySummary();
    }

    private void SetEntryLoading()
    {
        CurrentEntryAssetMarketEntry = null;
        TableRowsItems = null;
        EntrySummary = null;
        StateHasChanged();
    }

    private async Task UpdateEntrySummary()
    {
        
        // fetch the price of the entry's asset
        // TODO null?
        CurrentEntryAssetMarketEntry = (await CryptoStatsSource.GetMarketEntries(
            CurrencyUtils.GetCurrencyLabel(ActivePortfolio.Currency).ToLower(),
            PortfolioCryptocurrencyEntry.Id
            ))[0];

        // get all orders of the portfolio entry
        var entryOrders = MarketOrderService.GetPortfolioEntryOrders(ActivePortfolioEntry.Id);

        // compute summaries of all orders in the entry
        var entrySummaries = entryOrders.Select(order =>
            SummaryService.GetMarketOrderSummary(order, CurrentEntryAssetMarketEntry.CurrentPrice));

        TotalHoldings = entryOrders.Sum(order => order.Size * (order.Buy ? 1 : -1));

        // zip entry orders and summaries into a table rows
        TableRowsItems = entryOrders.Zip(entrySummaries)
            .Select(tuple => new Tuple<MarketOrder, ISummaryService.Summary>(tuple.First, tuple.Second)).ToList();

        // compute suummary of this entry
        EntrySummary = SummaryService.GetPortfolioEntrySummary(entryOrders, CurrentEntryAssetMarketEntry.CurrentPrice);
    }

    public void EditMarketOrder(MarketOrder order)
    {
        NavigationManager.NavigateTo($"/editmarketorder/{order.Id}");
    }

    async void DeletePortfolio(MarketOrder order)
    {
        var result = await MatDialogService.ConfirmAsync("Do you really wish to delete this market order?");
        if (result)
        {
            MarketOrderService.DeleteMarketOrder(order);
            SetEntryLoading();
            await UpdateEntrySummary();
            StateHasChanged();
            Toaster.Add("Order successfully deleted", MatToastType.Success, "", "");
        }
    }

    void ShowOrderDetail(Tuple<MarketOrder, ISummaryService.Summary> order)
    {
        OrderToBeShown = order;
        OrderDetailDialogIsOpen = true;
        StateHasChanged();
    }

    void HideOrderDetail()
    {
        OrderToBeShown = null;
        OrderDetailDialogIsOpen = false;
        StateHasChanged();
    }

    private void SelectionChangedEvent(object obj)
    {
        if (obj != null)
        {   
            ShowOrderDetail((Tuple<MarketOrder, ISummaryService.Summary>) obj) ;
        }
    }
}