<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <MatThemeProvider Theme="appTheme">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <MatPortalHost/>
            <MatToastContainer/>
        </MatThemeProvider>
    </Found>
    <NotFound>
        <MatThemeProvider Theme="appTheme">
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="mat-layout-grid mat-layout-grid-align-center">
                    <div class="mat-layout-grid-inner center">

                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                            <MatPaper Elevation="2" style="padding:1em">
                                <span>There is nothing at this address.</span>
                            </MatPaper>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
                    </div>
                </div>
            </LayoutView>
        </MatThemeProvider>
    </NotFound>
</Router>


@code
{
    // to be used as application's theme
    MatTheme appTheme = new()
    {
        Primary = MatThemeColors.BlueGrey._500.Value
    };
}