<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <MatThemeProvider Theme="appTheme">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <MatPortalHost/>
            <MatToastContainer/>
        </MatThemeProvider>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code
{
    MatTheme appTheme = new()
    {
        Primary = MatThemeColors.BlueGrey._500.Value
    };
}
